<ul>
      <li><a href="/">Home</a></li>
       <li><a href="/user_sign_out">Sign Out</a></li>
</ul>

<hr>

<table border="1">
<div>
  <div>
    <h1>
      Add a new restroom
    </h1>

    <form action="/insert_restroom" method="post">
      <div>
        <label for="name_box">
          Restroom Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="location_box">
          Location Name
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <label for="score_box">
          Score out of 5
        </label>

        <input type="text" id="score_box" name="query_score">
      </div>

      <div>
        <label for="review_notes_box">
          Review notes
        </label>

        <textarea id="review_notes_box" name="query_review_notes" rows="3"></textarea>
      </div>

      <button>
        Create restroom
      </button>
    </form>
  </div>
</div>

<hr>
<hr>

<%= search_form_for @q do |f| %>
  <p>Narrow results:</p>

  <div>
    <%= f.label :name_cont, "name containing" %>
    <%= f.text_field :name_cont, :placeholder => "Enter a few characters" %>
  </div>

  <div>
    <%= f.label :location_cont, "location containing" %>
    <%= f.text_field :location_cont, :placeholder => "Year greater than or equal to" %>
  </div>

  <div>
    <%= f.label :score_gteq, "Score above" %>
    <%= f.text_field :score_gteq, :placeholder => "Score greater than or equal to" %>
  </div>

  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/reviews">Clear filters</a>
<% end %>

<div>
  <div>
    <h1>
      List of all restrooms
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Location
        </th>

        <th>
          Score
        </th>

        <th>
          Review notes
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_restrooms.each do |a_restroom| %>
      <tr>
        <td>
          <%= a_restroom.id %>
        </td>

        <td>
          <%= a_restroom.name %>
        </td>

        <td>
          <%= a_restroom.location %>
        </td>

        <td>
          <%= a_restroom.score %>
        </td>

        <td>
          <%= a_restroom.review_notes %>
        </td>

        <td>
          <%= time_ago_in_words(a_restroom.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_restroom.updated_at) %> ago
        </td>

        <td>
          <a href="/restrooms/<%= a_restroom.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
</table>

<hr>
