<!DOCTYPE html>
<html>

   <style>
      h1 {
      color: white;
      }

      div.a {
  text-align: center;
  background-color: navy;
  font-family: Arial, Helvetica, sans-serif;
      }

      table, td, th {
  border: 1px solid black;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      td {
        text-align: center;
      }

    .p2 {
    font-family: Arial, Helvetica, sans-serif;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: #111;
    }

    .active {
      background-color: #04AA6D;
    }

  </style>


<ul>
      <li><a href="/">Home</a></li>
      <li><a href="/user_sign_out">Sign Out</a></li>
</ul>

<hr>

<table border="1">
<div>
  <div class="a">
     <h1>Add a new restroom</h1>
  </div>

    <form action="/insert_restroom" method="post">
      
      <div>
        <label for="location_box">
          Physical Bathroom Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>      
      
      <div>
        <label for="name_box">
          Restroom Used
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>


      <div>
        <label for="score_box">
          Score out of 5
        </label>

        <input type="text" id="score_box" name="query_score">
      </div>

      <div>
        <label for="review_notes_box">
          Review notes
        </label>

        <textarea id="review_notes_box" name="query_review_notes" rows="3"></textarea>
      </div>

      <button>
        Create restroom
      </button>
    </form>
  </div>
</div>

<hr>

<%= search_form_for @q do |f| %>
  <div class="a">
    <h1><p>Narrow results...</p></h1>
  </div>

  <div>
    <%= f.label :location_cont, "Physical Location Containing" %>
    <%= f.text_field :location_cont, :placeholder => "Year greater than or equal to" %>
  </div>

  <div>
    <%= f.label :name_cont, "Restroom Used Containing" %>
    <%= f.text_field :name_cont, :placeholder => "Enter a few characters" %>
  </div>

  <div>
    <%= f.label :score_gteq, "Score above" %>
    <%= f.text_field :score_gteq, :placeholder => "Score greater than or equal to" %>
  </div>

  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/restrooms">Clear filters</a>
<% end %>

<div>
  <div class="a">
    <h1>
      List of all restrooms reviewed
    </h1>
  </div>
</div>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Physical Location Name
        </th>

        <th>
          Restroom Used
        </th>

        <th>
          Score
        </th>

        <th>
          Review notes
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_restrooms.each do |a_restroom| %>
      <tr>
        <td>
          <%= a_restroom.id %>
        </td>
       
        <td>
          <%= a_restroom.location %>
        </td>
        
        <td>
          <%= a_restroom.name %>
        </td>

        <td>
          <%= a_restroom.score %>
        </td>

        <td>
          <%= a_restroom.review_notes %>
        </td>

        <td>
          <%= time_ago_in_words(a_restroom.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_restroom.updated_at) %> ago
        </td>

        <td>
          <a href="/restrooms/<%= a_restroom.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
</table>

<hr>
</html>