<div>
  <div>
    <h1>
      Rating #<%= @the_rating.id %> details
    </h1>

    <div>
      <div>
        <a href="/ratings">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_rating/<%= @the_rating.id %>">
          Delete rating
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_rating.user_id %>
      </dd>

      <dt>
        Restroom
      </dt>
      <dd>
        <%= @the_rating.restroom_id %>
      </dd>

      <dt>
        Score
      </dt>
      <dd>
        <%= @the_rating.score %>
      </dd>

      <dt>
        Review notes
      </dt>
      <dd>
        <%= @the_rating.review_notes %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_rating.name %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_rating.location %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_rating.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_rating.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit rating
    </h2>

    <form action="/modify_rating/<%= @the_rating.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_rating.user_id %>">
      </div>

      <div>
        <label for="restroom_id_box">
          Restroom
        </label>

        <input type="text" id="restroom_id_box" name="query_restroom_id" value="<%= @the_rating.restroom_id %>">
      </div>

      <div>
        <label for="score_box">
          Score
        </label>

        <input type="text" id="score_box" name="query_score" value="<%= @the_rating.score %>">
      </div>

      <div>
        <label for="review_notes_box">
          Review notes
        </label>

        <textarea id="review_notes_box" name="query_review_notes"><%= @the_rating.review_notes %></textarea>
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_rating.name %>">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" value="<%= @the_rating.location %>">
      </div>

      <button>
        Update rating
      </button>
    </form>
  </div>
</div>

<hr>
